@font-face {
  font-family: "sunday";
  src: url("../fonts/Sunday Vibes.ttf") format("truetype");
}
@font-face {
  font-family: "code";
  src: url("../fonts/CodeSaver-Regular.otf");
}
@font-face {
  font-family: "angelina";
  src: url("../fonts/farewell_angelina_display_sample.ttf");
}
h1 {
  font-family: "sunday", serif;
  font-weight: 100;
  font-size: 7em;
  color: #fefefd;
  text-shadow: 0 0 10px #be608b;
}

h2 {
  padding: 15px 0;
  background-color: rgba(190, 96, 139, 0.8);
  text-align: center;
  width: 100%;
  border-radius: 5px;
  color: #fefefd;
}

a {
  color: #500528;
}

a:hover {
  text-shadow: 0 0 5px #be608b;
}

.tab {
  margin-left: 2rem;
}

.tab2 {
  margin-left: 4rem;
}

.tab3 {
  margin-left: 6rem;
}

.tab4 {
  margin-left: 8rem;
}

.bottomSpace {
  display: block;
}

.cont1 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: [row-1-start] auto [row-1-end row-2-start] auto [row-2-end row-3-start] auto [row-3-end row-4-start] auto [row-4-end row-5-start] auto [row-5-end row-6-start] auto [row-6-end row-7-start] auto [row-7-end row-8-start] fit-content(1000px) [row-8-end];
  grid-template-areas: "header" "install" "tuto" "syntax" "variables" "partiels" "mixins" "footer";
  grid-gap: 1.5em;
  max-width: 95%;
  margin: auto;
  background-image: linear-gradient(rgba(71, 71, 71, 0.7), rgba(70, 70, 70, 0.7)), url(../images/simplifying-css-visual-studio-sass-v1.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-family: "angelina", serif;
  font-size: 1.3em;
  color: bisque;
}

.cont2 {
  grid-area: install;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: [row1start] auto [row1end row2start] auto [row2end];
  grid-template-areas: "title title title" "linux mac windows";
  grid-gap: 1.5em;
  overflow: hidden;
}
.cont2 h2 {
  grid-area: title;
}
.cont2 .os, .cont2 .windows, .cont2 .mac, .cont2 .linux {
  text-align: center;
  border: 1px solid #be608b;
  background-color: rgba(190, 96, 139, 0.1);
  border-radius: 5px;
}
.cont2 .linux {
  grid-area: linux;
}
.cont2 .mac {
  grid-area: mac;
}
.cont2 .windows {
  grid-area: windows;
}

header {
  grid-area: header;
}
header .headerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;
}

.topnav {
  overflow: hidden;
  margin-left: 15px;
  border-radius: 5px;
}
.topnav a {
  float: left;
  display: block;
  color: #be608b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: rgba(42, 42, 42, 0.6);
}
.topnav a:hover {
  background-color: rgba(190, 96, 139, 0.2);
  color: bisque;
}
.topnav .icon {
  display: none;
}

.active {
  background-color: #be608b !important;
  color: white !important;
}

.logo img {
  max-width: 130px;
}

.tuto {
  grid-area: tuto;
}

.syntax {
  grid-area: syntax;
}

.variables {
  grid-area: variables;
}

.partiels {
  grid-area: partiels;
}

.mixins {
  grid-area: mixins;
}

.footer {
  grid-area: footer;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.textBlock {
  border: 1px solid #be608b;
  background-color: rgba(190, 96, 139, 0.1);
  border-radius: 5px;
  padding: 1em;
}

.codeSpan, .code {
  font-family: "code";
  font-size: 1rem;
  color: antiquewhite;
  background-color: rgba(42, 42, 42, 0.6);
}

.code {
  border: 1px solid #be608b;
  border-radius: 5px;
  margin: 10px 5px;
  padding: 5px;
}

.cont3, .cont4, .cont5 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "old new";
  grid-gap: 1.5em;
}

.old {
  grid-area: old;
}

.new {
  grid-area: new;
}

@media screen and (max-width: 1240px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .headerTop h1 {
    font-size: 4em;
  }
  .headerTop .logo {
    display: contents;
  }
  .headerTop .logo img {
    max-width: 40%;
  }

  .cont3, .cont4, .cont5 {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "old" "new";
  }
}
@media screen and (max-width: 690px) {
  h1 {
    display: none;
  }

  .cont2 {
    grid-template-columns: 1fr;
    grid-template-rows: [row1start] auto [row1end row2start] auto [row2end row3start] auto [row3end row4start] auto [row4end];
    grid-template-areas: "title" "linux" "mac" "windows";
  }

  .topnav a {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
