@import "variables.scss";
@import "responsive.scss";

.cont1{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: [row-1-start] auto [row-1-end row-2-start] auto [row-2-end row-3-start] auto [row-3-end row-4-start] auto [row-4-end];
    grid-template-areas: "header"
                         "install"
                         "tuto";
    grid-gap: 1.5em;
}
.cont2{
    grid-area: install;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: [row1start] auto [row1end row2start] auto [row2end];
    grid-template-areas: "title title title"
                         "linux mac windows";
    grid-gap: 1.5em;
    overflow: hidden;
    h2{
        grid-area: title;
        margin: auto;
        padding: 15px;
        background-color: rgba($pinklogo, 0.5);
        text-align: center;
        width: 100%;
    }
    .os{
        text-align: center;
    }
    .linux{
        @extend .os;
        grid-area: linux;
    }
    .mac{
        @extend .os;
        grid-area: mac
    }
    .windows{
        @extend .os;
        grid-area: windows;
    }
}
header{
    grid-area: header;
    .headerTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    }
}

.topnav{
    overflow: hidden;
    margin-left: 15px;
    a{
        float: left;
        display: block;
        color: $pinklogo;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        :hover{
            background-color: #ddd;
            color: black;
        }
    }
    .icon{
        display: none;
    }
}
.active{
    background-color: $pinklogo;
    color: white !important;
}
.logo img{
    max-width: 130px;
}
.tuto{
    grid-area: tuto;
}